**Step 1: Importing the libraries**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

**Step 2: Importing dataset**

In [14]:
df=pd.read_csv('https://raw.githubusercontent.com/shivsurya-s/Task_7/main/Dataset/Data.csv')

In [15]:
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

**Step 3: Handling the missing data**

In [16]:
df.isna().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [17]:
df['Age'].fillna(df['Age'].median(), inplace = True)

In [18]:
df['Salary'].fillna(df['Salary'].median(), inplace = True)

**Step 4: Encoding categorical data**

In [19]:
from sklearn.preprocessing import LabelEncoder  
le = LabelEncoder()
df['Purchased'] = le.fit_transform(df['Purchased'])

**Step 5: Creating a dummy variable**

In [20]:
df["Country"].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [24]:
df=pd.get_dummies(df, columns = ['Country'])

**Step 6: Splitting the datasets into training sets and Test sets**

In [27]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(df)
df_1=pd.DataFrame(train)
df_1.to_csv("train.csv")
df_2=pd.DataFrame(test)
df_2.to_csv("test.csv")

**Step 7: Feature Scaling**

In [28]:
from sklearn import preprocessing
x = df.iloc[:, 1:3].values
min_max_scaler = preprocessing.MinMaxScaler(feature_range =(0, 1))
x_after_min_max_scaler = min_max_scaler.fit_transform(x)

In [29]:
Standardisation = preprocessing.StandardScaler()
x_after_Standardisation = Standardisation.fit_transform(x)